# Lines starting with # are treated as comments (or with whitespaces+#).
# It doesn't matter if you use capital letters or not.
# It doesn't matter if you use underscore or camel notation for keys, e.g. episode_timeout is the same as episodeTimeout.

vizdoom_path = ../../bin/vizdoom
#doom_game_path = ../../scenarios/doom2.wad
doom_game_path = ../../scenarios/freedoom2.wad
doom_scenario_path = ../../scenarios/cig_5vision.wad

# 25200 == 12 minutes

# track 1
#episode_timeout = 840

# track 2
episode_timeout = 1050

# Rendering options
screen_resolution = RES_320X240
screen_format = GRAY8
render_hud = true
render_crosshair = true
render_weapon = true
render_decals = false
render_particles = false

available_buttons = 
	{ 
		ATTACK
		TURN_LEFT
		TURN_RIGHT
		MOVE_FORWARD
	}

available_game_variables =
	{
		FRAGCOUNT
		HEALTH
		ARMOR
		SELECTED_WEAPON_AMMO
		SELECTED_WEAPON
	}
